.grille {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background: url(ressources/background.png);
    animation: background-defile 5s linear infinite;
}

body {
    background: url(https://t4.ftcdn.net/jpg/03/90/22/93/360_F_390229338_frGUxS6LBVQjxGJD7FYaSlsnfqGQgnyB.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.score {
    color: white;
    background-color: rgb(5, 12, 60);
    padding-top: 3%;
    padding-bottom: 3%;
    border-style: dotted;
    border-color: rgb(0, 37, 139);
    border-radius: 100%;
    margin-right: 32%;
    margin-left: 32%;
}

@keyframes background-defile {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 256px;
    }
}

h3 {
    text-align: center;
}
.grille div {
    width: 25px;
    height: 25px;
}
.tireur {
    background: url(./ressources/vaisseau.png);
    background-position: center;
    background-size: contain;
}
.alien {
    background: url(./ressources/ennemy.png);
    background-position: center;
    background-size: contain;
}
.boom {
    background: url(./ressources/Explode.png);
    background-position: center;
    background-size: contain;
}
.laser {
    background: url(./ressources/BalleLaser.png);
    background-position: center;
    background-size: contain;
}